{% extends 'base.html.twig' %}

{% block title %}New Adherent{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">

            <div class="">
                <h1 class="mb-4">Create new Adherent</h1>
            </div>

            <div class="d-flex">
                <a class="btn btn-info me-3" href="{{ path('app_adherent_index') }}">
                    <i class="fas fa-arrow-left"></i>
                    back to list
                </a>
            </div>

        </div>

        {{ include('adherent/_form.html.twig') }}

    </div>
{% endblock %}
