<nav class="navbar navbar-expand-lg bg-primary text-white" aria-label="Thirteenth navbar example">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample11">

            <a class="navbar-brand col-lg-3 me-0 text-uppercase text-white fw-bold" href="{{ path('app_home') }}">
                <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                IPCI - Gestion de caisse de solidarité
            </a>

{#            <ul class="navbar-nav justify-content-center">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Link</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#                </li>#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}

            <div class="d-flex col-lg-3 justify-content-end">
                {% if app.user %}
                    <img src="https://github.com/mdo.png" alt="Logo" width="40" height="40" class="rounded-circle">
                    <a class="btn btn-primary bg-info mx-3" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                    <a class="btn btn-primary bg-info" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}


            </div>

        </div>

    </div>

</nav>
