{% extends 'base.html.twig' %}

{% block title %}Not found{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">

        <img src="{{ asset("images/errors/404.jpg") }}" alt="" height="540">

    </div>
{% endblock %}
